// Dark mode
$primary-color: #3D0DDF;
$secondary-color: #39B5DC;
$primaryBg: transparent linear-gradient(180deg, #3D09DF 0%, #3A88DC 100%) 0% 0% no-repeat padding-box;
$secondaryBg-color: #ffffff4f;
$body-bg-color: #1a1a1a;
$text-color: #ffffff;