
// Light mode
$primary-color: #3D0DDF;
$secondary-color: #39B5DC;
$body-bg-color: #FFF;
$primaryBg: transparent linear-gradient(180deg, #3D09DF 0%, #3A88DC 100%) 0% 0% no-repeat padding-box;
$secondaryBg-color: #F3F3F3;
$text-color: #000000;