

// Light mode
$primary-color: transparent linear-gradient(180deg, #3D09DF 0%, #3A88DC 100%) 0% 0% no-repeat padding-box;
$secondary-color: #000;
$body-bg-color: #f6f8fa;
$text-color: #FFF;

// Dark mode
$primary-color: transparent linear-gradient(180deg, #3D09DF 0%, #3A88DC 100%) 0% 0% no-repeat padding-box;
$secondary-color: #ffd166;
$body-bg-color: #1a1a1a;
$text-color: #ffffff;