@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

$primaryTextColor: #050213;
$secondaryTextColor : #3333;

$primaryBg: transparent linear-gradient(180deg, #3D09DF 0%, #3A88DC 100%) 0% 0% no-repeat padding-box;
// $font: 